body{
    border: 2px solid black;
    background-color: rgb(42, 66, 62)(54, 23, 23);

}

.title{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    background-color: red;
    padding: 20px;
}

.live-score{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;

}

.vs{
    
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}



.computer-decision{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 50px ;

}

.player-decision{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;

}

button{
    width: 100px;
    height: 100px;
}

